html {
    scroll-behavior: smooth;
}

.light-theme {
    --background: #ffeacb;
    --bg1: #fff4e4;
    --foreground: #0f0f0f;
    --hover: #121212;
}

.dark-theme {
    --background: #0f0f0f;
    --bg1: #181818;
    --foreground: #ffeacb;
    --hover: #fff4e4;
}

:root {
    --radius: 14px;
    --b-width: 2px;
    --border-main: var(--foreground) var(--b-width) solid;
    --shadow-main: 2px 2px var(--foreground);
    --transition-main: 150ms ease-in-out;
}

@font-face {
    font-family: Verela;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

::selection {
    background-color: var(--foreground);
    color: var(--background);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 9px;
    scrollbar-color: var(--bg1) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg1);
    border-radius: 14px;
    border: 2px solid var(--foreground);
    transition: all 250ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--background);
    box-shadow: var(--shadow-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
}

body {
    background: var(--background);
    color: var(--foreground);
    margin: 0;

    font-family: Verela;

    transition: var(--transition-main);
}

#theme-wrapper {
    z-index: 99;

    background: var(--bg1);
    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--border-main);
    border-radius: var(--radius);

    transition: all var(--transition-main);
}

#theme-wrapper:hover {
    box-shadow: var(--shadow-main);
}

#theme-switch {
    display: none;
}

#theme-switch + label {
    cursor: pointer;
}

#theme-wrapper[data-theme="light"] #theme-moon {
    display: none;
}

#theme-wrapper[data-theme="dark"] #theme-sun {
    display: none;
}

.container {
    min-height: 100vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-main {
    max-width: 40rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

    flex-grow: 1;
}

header {
    z-index: 99;

    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

header .header-title {
    flex-grow: 1;
}

header .header-btn {
    min-width: 4rem;
    max-width: 4rem;
}

#theme-wrapper .nextui-c-jxECYO {
    justify-content: center;
}

.nextui-c-BDLTQ {
    /* nextui-card */
    background: var(--bg1);
    color: var(--foreground);

    border: var(--border-main);

    filter: none;

    transition: var(--transition-main);
}

.nextui-c-PJLV-gulvcB-isFocusVisible-false {
    border: var(--border-main);
}

.nextui-c-PJLV {
    /* nextui-text */
    color: var(--foreground);
    transition: var(--transition-main);
}

.card-shadow {
    cursor: pointer;
    transition: box-shadow var(--transition-main);
}

.card-shadow:hover {
    box-shadow: var(--shadow-main);
}

.nextui-c-bZLhCa {
    height: 2px;
    background-color: var(--foreground);
}

header .home {
    max-width: 4rem;
}

/* .home-posts .home-posts-card:nth-child(odd) {
    margin-right: 0.5rem;
} */

.home-posts .nextui-grid-item:nth-child(odd) {
    padding-right: 0.25rem;
}

.home-posts .nextui-grid-item:nth-child(even) {
    padding-left: 0.25rem;
}

.home-posts .nextui-grid-item {
    padding-bottom: 0.5rem;
}

@media (max-width: 959px) {
    .home-posts .nextui-grid-item:nth-child(odd) {
        padding-right: 0;
    }

    .home-posts .nextui-grid-item:nth-child(even) {
        padding-left: 0;
    }
}

.home-posts .nextui-c-jxECYO {
    height: 5.5rem;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-main {
    width: clamp(10%, 20%, 10%);
}

.prose :where(h1, h2, h3, h4, h5, h6):not(:where([class~="not-prose"] *)) {
    color: var(--foreground);
    max-width: max-content;
    border-bottom: var(--border-main);
    margin-bottom: 0.5rem;
}

.prose {
    color: var(--foreground);
    background: var(--bg1);

    padding: 1rem;

    border: var(--border-main);
    border-radius: var(--radius);

    overflow: hidden;

    transition: var(--transition-main);
}

.prose p:has(img) {
    color: var(--foreground);
    background: none;

    border: none;

    overflow: hidden;

    transition: var(--transition-main);

    display: flex;
    justify-content: center;
}

.prose-img\:rounded-xl :is(:where(img):not(:where([class~="not-prose"] *))) {
    border-radius: var(--radius) !important;
    margin: 0 auto;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
    color: var(--background);
    background: var(--foreground);

    border: var(--background) var(--b-width) solid;
    border-radius: var(--radius);
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
    color: var(--foreground);
}

.prose p :where(code):not(:where([class~="not-prose"] *)) {
    color: var(--background);
    background: var(--foreground);

    border: var(--background) var(--b-width) solid;
    border-radius: 4px;
}

pre code {
    color: var(--background);
    background: none;
}

code::selection {
    background-color: var(--background);
    color: var(--foreground);
}

.prose p {
    line-height: 1.45rem;
    font-family: Verela;
}

.prose li {
    color: var(--foreground);
    list-style-type: disc;
    line-height: 1rem;
}

.prose a {
    text-decoration: underline;
    color: inherit;

    transition: all var(--transition-main);
}

.prose a:hover {
    text-decoration: none;
    color: var(--hover);
}

.prose kbd {
    color: var(--foreground);
    background-color: var(--background);

    border: var(--border-main);

    font-family: var(--nextui-fonts-mono);
}

.prose .date::after {
    content: "";
    width: 3ch;
    border-bottom: var(--border-main);
    display: block;
}

.prose {
    word-wrap: break-word;
    hyphens: auto;
}
