@tailwind base;
h1 {
    @apply text-4xl;
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-lg;
}
@tailwind components;
@tailwind utilities;

:root {
    --background: #0d0d0d;
    --background-2: #131313;
    --background-3: #2c2c2c;
    --text: #fcf5e5;
    --text-hover: #ffedc2;
    --text-sub: #7e7a71;

    --border-radius-md: 14px;
    --border-radius-lg: 20px;

    --background-rgb: 13, 13, 13;
    --background-2-rgb: 19, 19, 19;
    --background-3-rgb: 44, 44, 44;
    --text-rgb: 252, 245, 229;
    --text-hover-rgb: 255, 237, 194;
    --border-rgb: 255, 255, 255;
}

@font-face {
    font-family: Satoshi;
    src: url("../fonts/Satoshi-Bold.ttf");
}

@font-face {
    font-family: Synonym;
    src: url("../fonts/Synonym-Regular.ttf");
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: rgb(var(--text-rgb), 0.25);
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background-3);
    border-radius: var(--border-radius-lg);
}

html,
body {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Satoshi;
    font-weight: normal;
    margin: 0;
}

body {
    font-family: Synonym;
    color: var(--text);

    background: var(--background);

    margin: 0;
}

img {
    pointer-events: none;
    user-select: none;
}

nav {
    z-index: 9999;

    max-width: 900px;

    margin: 0 auto;
    padding: 1rem;

    position: sticky;
    top: 0;
}

a {
    color: inherit;
    text-decoration: underline 0.05rem rgb(var(--text-rgb), 0.25);
    transition: all 175ms;
}

a:hover {
    color: var(--text-hover);
    text-decoration-color: rgb(var(--text-hover-rgb), 1);
}

a.no-underline {
    text-decoration-color: transparent;
}

button {
    cursor: pointer;

    background: var(--background-2);

    font-family: Satoshi;
    color: var(--text);
    text-transform: uppercase;

    padding: 1rem;

    border-radius: var(--border-radius-lg);
    border: none;

    transition: all 150ms ease-in-out;
}

button:hover {
    background: rgba(var(--background-2-rgb), 0.5);
    color: var(--text-hover);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
}

main.container.posts {
    max-width: 1200px;

    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 1rem;
}

@media (max-width: 800px) {
    main.container.posts {
        grid-template-columns: 1fr;
        padding: 0 1rem 0 1rem;
    }
}

.prose {
    background: var(--background-2);
    border-radius: var(--border-radius-lg);
    padding: 1rem;
    margin-bottom: 1rem;
}

.prose a :not(h1, h2, h3, h4, h5, h6) {
    text-decoration: underline 0.05rem rgb(var(--text-rgb), 0.25);
    transition: all 175ms;
}

.prose a:hover {
    color: var(--text-hover);
    text-decoration-color: rgb(var(--text-hover-rgb), 1);
}

.prose,
.prose :where(h1, h2, h3, h4, h5, h6, strong, :not(pre, code)) {
    color: var(--text);
    transition: all 175ms;
}

.prose a:hover > :where(h1, h2, h3, h4, h5, h6) {
    color: var(--text-hover);
}

.prose img {
    border-radius: var(--border-radius-lg);
}

.prose pre {
    background: transparent;
    padding: 0;
    border-radius: var(--border-radius-lg);
}

.prose pre,
.prose code {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.toc > li.active {
    list-style-type: disc;
    margin-left: 1rem;
}

.toc > li.active > a {
    font-weight: bold;
}
